body{
    margin: 0;
    font-family: sans-serif;
}
h1 img{
    width: 400px;
    margin: 0 auto;
    display: block;
}
h2{
    background: center/2px url(../media/style/blue-square.svg) repeat-x;
    text-align: center;
}
h2 a{
    padding: 0 10px;
    background: url(../media/style/white-square.svg);
}
header{
    padding: 10px;
    text-align: right;
    color: #fff;
    background: #01a7e1;
}
#user{
    float: left;
}
form{
    text-align: center;
}
hr{
    border: solid 1px #01a7e1;
    width: 700px;
}
a{
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}
nav, div.options{
    display: none;
    text-align: center;
    width: 600px;
    margin: 20px auto;
}nav.four_items{
    width: 500px;
}
nav a{
    color: #fff;
    border-radius: 100px;
    float: left;
    padding: 10px 0px 10px 96px;
    line-height: 12px;
    font-size: 16px;
    background: right/40px url(../media/style/blue-circle.svg) no-repeat, 
                0 url(../media/style/blue-line.svg) repeat-x
}
nav a img{
    width: 40px;
    height: 40px;
}
nav a.future{
    background-image: url(../media/style/grey-circle.svg), url(../media/style/grey-line.svg);
}
nav a:first-child{
    padding-left: 10px;
    background-image: url(../media/style/blue-circle.svg), none;
}
section{
    width: 700px;
    padding: 0 50px;
    margin: 85px auto 10px;
    opacity: 0;
    display: none;
    transition: .1s;
}
#navilinks{
    display: none;
    margin: 0 auto;
    width: 700px;
    text-align: right;
}
#navilinks a{
    margin: 0 0 0 10px;
    display: block;
    width: 25px;
    height: 50px;
    float: right;
    background: 0/25px url(../media/style/grey-triangle-left.svg) no-repeat;
}
#navilinks a#forth{
    background-image: url(../media/style/grey-triangle-right.svg);
}
#section-start a{
    display: block;
    float: left;
    text-align: center;
    font-size: 24px;
}
#section-start img{
    width: 250px;
    height: 250px;
    margin: 15px 48px;
}
